{{ 'homepageheader.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <section>
    <div class="homeheaderitem"></div>
    <div class="homeheaderitem"></div>
  </section>

  {%schema%}
  {
    "name": "Homepage Header",
    "tag": "section"
  }
  {% endschema %}