<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="kaitlayoutcontainer">
    <div class="kaitlayoutinner">
        <div class="kaitlayoutitem">
            <img src="https://cdn.shopify.com/s/files/1/0627/0366/5345/files/kait-1.png?v=1663122682" loading="lazy" alt="">
        </div>
        <div class="kaitlayoutitem">
            <div class="kaitbiocontainer">
                <p> {{ section.settings.kait_bio_text }} </p>
            </div>
        </div>
        <div class="kaitlayoutitem">
            <img src="https://cdn.shopify.com/s/files/1/0627/0366/5345/files/paw-small-wbg.png?v=1663119161" loading="lazy" alt="" id="logofill">
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "kait",
    "tag": "section",
    "settings": [
      {
        "id": "kait_bio_text",
            "type": "richtext",
            "label": "Kaits Bio",
            "default": "<p> School of Personal Paws</p>"
      }
    ]
  }
  {% endschema %}
