<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="kaitlayoutcontainer">
    <div class="kaitlayoutinner">
        <div class="kaitlayoutitem">
        
        </div>
        <div class="kaitlayoutitem">
        
        </div>
        <div class="kaitlayoutitem">
        
        </div>
    </div>
</div>

{% schema %}
{
    "name": "kait section",
    "tag": "section"
  }
{% endschema %}
