<div>
  <h1> {{ page_title }} </h1>
</div>

{% schema %}
  {
    "name": "page title",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}