<div class="titlecontainer">
  <div class="titleinner">
    <h1> {{ page_title }} </h1>
  </div>
</div>

{% schema %}
  {
    "name": "page title",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
  .titlecontainer{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .titleinner{
    width:80%;
    height:auto;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}