<link rel="stylesheet" href="{{ 'plain-text.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="plain-text-container">
  <p> {{ section.settings.main-text }} </p>
</div>

{% schema %}
  {
    "name": "plain-text",
    "tag": "section",
    "settings": [
      {
        "id": "main-text",
            "type": "richtext",
            "label": "Text goes here",
            "default": "<p>Lorem Ipsum dolor sit amet</p>"
      }
    ]
  }
  {% endschema %}
