<div class="plaintextcontainer">
  <div class="plaintextinner">
    <p> {{ section.settings.plaintext }} </p>
  </div>
</div>
{% schema %}
  {
    "name": "plain_text"
  }
{% endschema %}

{% stylesheet %}
  .plaintextcontainer{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .plaintextinner{
    width:80%;
    height:auto;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}