<div class="plaintextcontainer">
  <div class="plaintextinner">
    <img src="{{section.settings.petexec-img |  img_url: 'master'}}" alt="">
    <p> {{ section.settings.plaintext }} </p>
  </div>
</div>
{% schema %}
  {
    "name": "plain_text",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "petexec-img",
        "label": "petexec logo"
      },
      {
        "id": "plaintext",
            "type": "richtext",
            "label": "Plain text",
            "default": "<p>fill in text here</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .plaintextcontainer{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .plaintextinner{
    width:80%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}