<div class="plaintextcontainer">
  <div class="plaintextinner">
    <p> {{ section.settings.plaintext }} </p>
  </div>
</div>
{% schema %}
  {
    "name": "plain_text"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}