<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="">
  
</div>

{% schema %}
  {
    "name": "shelters",
    "tag": "section",
    "settings": [
      {
        "id": "kait_bio_text",
            "type": "richtext",
            "label": "Kaits Bio",
            "default": "<p> School of Personal Paws</p>"
      }
    ]
  }
  {% endschema %}
