<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="teamouter">
  <div class="teamcontainer">
    <div class="teamitem">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0627/0366/5345/files/tyler210.jpg?v=1663123115">
      </div>
      <div>
        <p>Tyler - K9 Handler</p>
      </div>
    </div>
    <div class="teamitem">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0627/0366/5345/files/olivia.png?v=1663123190">
      </div>
      <div>
        <p>Olivia - Trainer</p>
      </div>
    </div>
    <div class="teamitem">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0627/0366/5345/files/foster.png?v=1663123247">
      </div>
      <div>
        <p>Foster - K9 Handler</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "team",
    "tag": "section",
    "settings": [
      {
        "id": "kait_bio_text",
            "type": "richtext",
            "label": "Kaits Bio",
            "default": "<p> School of Personal Paws</p>"
      }
    ]
  }
  {% endschema %}
