<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="teamouter">
  <div class="teamcontainer">
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p>Olivia - Trainer</p>
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img-2 |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p>Olivia - Trainer</p>
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img-3 |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p>Olivia - Trainer</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "team",
    "tag": "section",
    "settings": [
      {
                "type": "image_picker",
                "id": "why-img",
                "label": "employee image 1"

            },
      {
                "type": "image_picker",
                "id": "why-im2",
                "label": "employee image 2"

            },
      {
                "type": "image_picker",
                "id": "why-img-3",
                "label": "employee image 3"

            }
    ]
  }
  {% endschema %}
