<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="teamouter">
  <div class="teamcontainer">
    <div class="teamitem">
      <div class="teamiteminner"></div>
      <div class="teamiteminner"></div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner"></div>
      <div class="teamiteminner"></div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner"></div>
      <div class="teamiteminner"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "team",
    "tag": "section"
  }
  {% endschema %}
