.homeheaderouter{
    width:100%;
    height:auto;
    display:flex;
    min-height:70vh;
    background:#122932;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto;
    grid-template-areas:". .";
}

@media screen and (max-width:900px){
    .homeheaderouter{
        grid-template-columns: 1fr;
        grid-template-areas: ".";
    }
    .homeheaderitem:nth-of-type(2) img{
        transform:translateY(10%)!important;
    }
}

.homeheaderitem{
    width:100%;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.homeheaderitem:nth-of-type(1){
    padding-left:10%;
}

.homeheaderitem:nth-of-type(2) img{
    width:350px;
    height:auto;
    transform:translateY(25%);
    z-index: 2;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.homeheaderitem h1{
    font-weight:700;
    color:#fff;
    visibility: hidden;
}