.testimonialcontainer{
    width:100%;
    height:auto;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5% 0;
    background: #f05d5f;
}

.testimonialwrapper{
    width:80%;
    height:auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:".";
    border:1px solid black;
}

.testimonialwrapper h1{
    color:#000;
    text-transform:capitalize;
    align-self: center;
}

.testimonialwrapper p{
    font-size: 1.25em;
    line-height:1.25em;
    color:#000;
}

.swiper-wrapper{
    width:80%;
    align-self: center;
}

.swiper-slide{
    min-width:0;
    width:80%!important;
    min-height:200px;
    border:2px solid blue;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

/* background: #f05d5f; */